<tui-island [hoverable]="true">
  <p class="tui-island__category">Твой уровень</p>
  <h3 class="tui-island__title">Новичок</h3>
  <div class="tui-island__content"></div>
</tui-island>

<tui-island [hoverable]="true">
  <p class="tui-island__category">Статистика</p>
  <h3 class="tui-island__title">Новичок</h3>
  <div class="tui-island__content"></div>
</tui-island>

<tui-island [hoverable]="true">
  <p class="tui-island__category">Кошелёк</p>
  <h3 class="tui-island__title">Новичок</h3>
  <div class="tui-island__content"></div>
</tui-island>
